/* General Parallax Styling */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.85;
    /* Adjust transparency for better readability */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Parallax Effect for Desktop */
@media (min-width: 100px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: fixed;
    }
}



/* Specific Background Images */
.bgimg-1 {
    background-image: url('/static/landing/images/cover.webp');
    min-height: 100vh;
    /* Full viewport height */
}

.bgimg-2 {
    background-image: url('/static/landing/images/under-cover.avif');
    min-height: 600px;
}

.bgimg-3 {
    background-image: url('/static/landing/images/bg-3.avif');
    min-height: 600px;
}

/* General Styling */
body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px / 1.8 "Lato", sans-serif;
    color: #777;
}