<!-- templates/trips/map_popup_content.html -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'trips/css/maps.css' %}">


{% if marine_life %}
    <div class="marine-life-images">
        {% for item in marine_life %}
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
            {% if item.image %}
                <img src="{{ item.image.url }}" class="img-fluid" alt="{{ item.name }}" 
                    style="min-height: 200px; min-width: 200px; object-fit: cover; border-radius: 10px; margin-bottom: 10px;">
            {% else %}
                <p>No image available for {{ item.name }}</p>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p>No marine life images available for this location.</p>
{% endif %}


