{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Welcome to Our Website{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'landing/css/landing.css' %}">
    <script src="{% static 'landing/js/landing.js' %}"></script>

    <!-- Parallax Section -->
    <section class="bgimg-1">
        <div class="content">
            <h1>DeepBlue Dive Center</h1>
            <p>Plunge into the Adventure of a Lifetime</p>
        </div>
    </section>



    <!-- Content Sections Below -->
    <section class="bgimg-2">
        <h2>Recent Blog Posts</h2>
        <ul>
            {% for post in recent_blog_posts %}
                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>

        <h2>Featured Products</h2>
        <ul>
            {% for product in featured_products %}
                <li>{{ product.name }} - ${{ product.price }}</li>
            {% endfor %}
        </ul>
    </section>

    <!-- Content Sections Below -->
    <section class="bgimg-3">
        <h2>Recent Blog Posts</h2>
        <ul>
            {% for post in recent_blog_posts %}
                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>

        <h2>Featured Products</h2>
        <ul>
            {% for product in featured_products %}
                <li>{{ product.name }} - ${{ product.price }}</li>
            {% endfor %}
        </ul>
    </section>


       <!-- Parallax Section -->
    <section class="bgimg-1">
        <div class="content">
            <h1>DeepBlue Dive Center</h1>
            <p>Plunge into the Adventure of a Lifetime</p>
        </div>
    </section>
{% endblock %}
