{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg border-0 rounded">
                    <div class="card-header text-center">
                        <h2 class="fw-bold">My Profile</h2>
                    </div>
                    <div class="card-body">
                        <h4>Welcome, {{ user.first_name }}!</h4>
                        
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_first_name" class="form-label">First Name</label>
                                {{ form.first_name }}
                            </div>
                            <div class="mb-3">
                                <label for="id_last_name" class="form-label">Last Name</label>
                                {{ form.last_name }}
                            </div>
                            <div class="mb-3">
                                <label for="id_email" class="form-label">Email</label>
                                {{ form.email }}
                            </div>
                            <div class="mb-3">
                                <label for="id_phone_number" class="form-label">Phone Number</label>
                                {{ form.phone_number }}
                            </div>
                            <div class="mb-3">
                                <label for="id_address" class="form-label">Address</label>
                                {{ form.address }}
                            </div>
                            <div class="mb-3">
                                <label for="id_biography" class="form-label">Bio</label>
                                {{ form.biography }}
                            </div>

                            <button type="submit" class="btn btn-primary w-100 py-2 mt-4">Update Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
