{% extends 'base.html' %}
{% block title %}Courses{% endblock %}


{% block content %}

<br> <br> <br> <br> <br>

<div class="container">
    <h2>{{ name }}</h2>
    <div class="row">
        {% for course in courses %}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm">
                <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.title }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ course.name }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                    <p class="card-text mt-auto"><strong>Price:</strong> ${{ course.price }}</p>
                    <a href="{% url 'course_detail' course.id %}" class="btn btn-primary mt-auto">View Course</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}